<html>
<head>

</head>
<body>
<form action="/login" method="POST">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <input type="text" name="username" placeholder="username" autofocus/><br />
    <input type="password" name="password" placeholder="password"/><br />
    <button type="submit">Login</button>
</form>
</body>
</html>