<!DOCTYPE HTML>
<html>
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>This is <b>test.mustache</b>.</div>
<input type="button" onclick="">
</body>
</html>